= render partial: "shared/sidebar", locals: { date: @date }

//========================== Content ========================//
//==========================================================//
- user = @user
- list = @list
- date = @date

.content
  .header
    %h1.page-title= date_format(date)
    = render partial: "tasks/day_switcher"
  .container-fluid
    .row-fluid
      = render partial: 'layouts/messages'
      = render partial: 'shared/task-well', locals: { list: list, date: date }

      = render partial: "layouts/footer"
