- form_class = task.complete? ? "edit_task complete" : "edit_task"

= form_for task, remote: true, html: {:class => form_class } do |f|
  = f.check_box :complete, id: "task-#{task.id}"
  = f.label :name, task.name, for: "task-#{task.id}"
  = link_to task_path(task.id), remote: true, method: :delete, class: "delete-task" do
    %i.icon-remove.pull-right
  %i.icon-move.pull-right.move
