= render partial: "shared/sidebar", locals: { date: @date }

//========================== Content ========================//
//==========================================================//
- user = @user
- categories = @categories
- date = @date

.content
  .header
    %h1.page-title= mobile_date_format(date)
    = render partial: "tasks/day_switcher"
  .container-fluid
    .row-fluid
      = render partial: 'layouts/messages'
      - if categories.empty?
        %h2.no-categories You dont have any lists yet. Use the form in the sidebar to create a new one. You can then add tasks to that list.
      - else
        - categories.each do |category|
          = render partial: 'shared/task-well', locals: { category: category, date: date }

      = render partial: "layouts/footer"
