.span2
  %header
    %h6
      Categories #{link_to "+ Add", '#', class: "new-category-link pull-right"}
  .new-user-category-form.display-none
    = render 'categories/form'
  .category
    %p= link_to "All categories", "#"
    = render @categories

.span6
  %header.date
    %span.prev-day= link_to "<", date: @date.prev_day
    = date_header(@date)
    = @date.strftime("%A, %B %e, %Y")
    = text_field_tag(:date, @date, class: "date-select")
    %span.next-day= link_to ">", date: @date.next_day
  %hr.tasks

  - @categories.each do |category|
    %div{:class => "category-#{category.id}"}
      %header.category
        %h6= category.name
      = link_to "Add a new item...", new_category_task_path(category, :date => @date), class: "category-#{category.id}-task-link add-item", remote: true
      %div{:class => "category-#{category.id}-tasks"}
        - category.tasks.each do |task|
          = render :partial => "tasks/task", locals: {category: category, task: task}

.span3
  %header.date
    = @date.strftime("%B %Y")
    %span.month-switcher
      = link_to "<", date: @date.prev_month
      = link_to ">", date: @date.next_month
  %hr.calendar
  = calendar @date do |date|
    = link_to date.day, "#{current_user.id}?date=#{date}", class: "calendar-day"
