= render partial: "shared/sidebar", locals: { date: @date }

//========================== Content ========================//
//==========================================================//
- user = @user
- categories = @categories
- date = @date

.content
  .header
    %h1.page-title= mobile_date_format(date)
    = render partial: "tasks/day_switcher"
  .container-fluid
    .row-fluid
      = render partial: 'layouts/messages'
      - categories.each do |category|
        = render partial: 'shared/task-well', locals: { category: category, date: date }

      = render partial: "layouts/footer"
