= render partial: "shared/sidebar", locals: { date: @date }

//========================== Content ========================//
//==========================================================//
- user = @user
- lists = @lists
- date = @date

.content
  .header
    %h1.page-title= mobile_date_format(date)
    = render partial: "tasks/day_switcher"
  .container-fluid
    .row-fluid
      = render partial: 'layouts/messages'
      - if lists.empty?
        %h2.no-lists You dont have any lists yet. Use the form in the sidebar to create a new one. You can then add tasks to that list.
      - else
        - lists.each do |list|
          = render partial: 'shared/task-well', locals: { list: list, date: date }

      = render partial: "layouts/footer"
