//========================== Sidebar ========================//
//==========================================================//
.sidebar-nav
  //========== Search ============
  %form.search.form-inline
    %input{:placeholder => "Search...", :type => "text"}/
  //========== lists Accordion ============
  %a.nav-header{"data-toggle" => "collapse", :href => "#dashboard-menu"}
    %i.icon-tags>
    Lists
    %i.icon-chevron-up
  %ul#dashboard-menu.nav.nav-list.collapse.in
    .list-form
      = render 'lists/form'
    - unless @lists.empty?
      #list-list
        = render @lists
  //========== Calendar Accordion ============
  %a.nav-header{"data-toggle" => "collapse", :href => "#calendar-menu"}
    %i.icon-calendar.icon-white>
    Calendar
    %i.icon-chevron-up
  #calendar-menu.collapse.in
    = render 'tasks/month-switcher', locals: { date: @date }
    = calendar @date do |date|
      - current = "current" if date == @date
      = link_to date.day, username_list_path(@user.slug, @list.uid, date: date), class: "calendar-day #{current}"

