= content_tag_for(:li, category) do
  = link_to username_category_path(@user.slug, category.category_uid, date: params[:date]), class: 'inline' do
    = category.name
    = link_to edit_category_path(category.id), data: { toggle: 'modal', target: '#editCategory', category: category.id }, role: 'button', class: 'edit-category', remote: true do
      %i.icon-edit
    - if category.destroyable?
      = link_to category_path(category), remote: true, method: :delete, confirm: category_confirm, class: 'delete-category' do
        %i.icon-remove
