= render partial: "shared/sidebar", locals: { date: @date }

//========================== Content ========================//
//==========================================================//
.content
  .header
    %h1.page-title= @date.strftime("%A, %B %e, %Y")
    = render partial: "tasks/day_switcher"
  .container-fluid
    .row-fluid
      = render partial: 'layouts/messages'
      .well{class: "category-#{@category.id}-well"}
        .pull-right
          - delete_html = "<a href='#{user_category_path(@user, @category)}' data-method='delete' data-confirm='Are you sure?' data-remote='true' rel='nofollow'><i class='icon-trash'></i>  Delete</a>"
          %i.icon-cog.options{"data-content" => delete_html, :href => "#", :rel => "popover"}
        = div_for @category do
          %h5= @category.name.titleize
          //========== Task form ============
          = render partial: "tasks/form", locals: { category: @category, date: @date }
          //========== Tasks ============
          = content_tag :div, class: "category-#{@category.id}-tasks" do
            = render @category.tasks_by_date(@date)

      = render partial: "layouts/footer"
