= render partial: "shared/sidebar", locals: { date: @date }

//========================== Content ========================//
//==========================================================//
.content
  .header
    %h1.page-title= mobile_date_format(@date)
    = render partial: "tasks/day_switcher"
  .container-fluid
    .row-fluid
      = render partial: 'layouts/messages'
      .well{class: "category-#{@category.id}-well"}
        = render partial: 'categories/dropdown-options', locals: { category: @category }
        = div_for @category do
          %h5= @category.name.titleize
          //========== Task form ============
          = render partial: "tasks/form", locals: { category: @category, date: @date }
          //========== Tasks ============
          = content_tag :div, class: "category-#{@category.id}-tasks tasks-container", data: { update_url: sort_tasks_url } do
            = render @category.tasks_by_date(@date)

      = render partial: "layouts/footer"
