!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Dunzo | Easily create and manage your daily to-do lists."
      %meta{:content => content_for?(:description) ? yield(:description) : "Dunzo | Easily create and manage your daily to-do lists.", :name => "description"}
      - unless params[:controller] == "home"
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag "http://dunzoapp.com/css/app.css"
        = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,400italic,700italic,600italic,300italic,800italic"
        = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Quicksand"
      - else
        = stylesheet_link_tag "home"
        = javascript_include_tag "home"
        = render 'homepage-js'

        %link{:href => "/icons/iphone_icon.png", :rel => "apple-touch-icon"}/

        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    - unless params[:controller] == "home"
      .container-fluid
        .row-fluid
          = render 'layouts/navigation'
          = render 'layouts/messages'
          = yield
    - else
      = yield
  %footer
    - unless params[:controller] == "home"
      = javascript_include_tag "application"
