!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "dunzo | Dead simple task management in the cloud."
      %meta{:content => content_for?(:description) ? yield(:description) : "dunzo | Dead simple task management in the cloud.", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag "http://dunzoapp.com/css/app.css"
        = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,400italic,700italic,600italic,300italic,800italic"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container-fluid
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container-fluid
        .row-fluid
          = render 'layouts/messages'
          = yield
        %footer
      / ! end of .container
    / ! end of #main
